<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Crud operations...</title>
</head>
<body>
<a href="/">Home</a>
<br>
{{message}}
<h1>Product Add opratin</h1>
<br>
<form method="post" action="/product/save">
    ProductID:<input type="text" name="pid"><br><br>
    Productname<input type="text" name="pnm"><br><br>
    ProductPrice<input type="text" name="pprc"><br><br>
    ProductVendor<input type="text" name="penv"><br><br>
    ProductQTy<input type="text" name="pqty"><br><br>

   <input type="submit">






</form>

</body>
</html>

